body{
    height:100vh;
}
.outer{
    background-color: red;
    HEIGHT: 200px;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    border-color: grey black;
    }
.inner{
    background-color: navy;
    height: 40%;
    width: 100%;
    position:relative;
    top:30%;
}
.circle{
    background-color: #fff;
    height:100%;
    width:20%;
    border-radius: 50%;
    position: relative;
    left:40% ;
}
.rectangle{
    height: 100px;
    width: 400px;
}
.redbox{
    background-color: red;
}
.bluebox{
    background-color: blue;
    position:relative;
    left:400px;
    top:300px;
}
.square{
    height: 200px;
    width: 200px;
}
.greenbox{
    background-color: green;
}
.yellowbox{
    background-color: yellow;
}
.pair2{
    position:relative;
    top:-600px;
    left: 400px;
}
.shadsam{
    background-color: gold;
    height: 400px;
    width: 400px;
    position: relative;
    left: 500px;
    box-shadow: 50px 0px rgb(13, 13, 12),
                -0px -0px purple;
}
