* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
    background-color: black;
}
.items {
    display:flex;
    background-color: grey;
    color:aliceblue;
    gap:10px;
    align-items: center;
}
.sitems{
    font-size: 8px;
}
a{
    color:aliceblue;
}
.sinput{
    display: flex;
    width: 20px;
    opacity: 0.5;
    position:relative;
    left:440px;
    gap:3px;
}
input{
    height:16px;
    font-size: 8px;
    background-color: black;
    border: 1px solid rgb(81, 86, 81);
    border-radius: 4px;
    padding-left: 2px;
}
.sbutton{
    background-color: transparent;
    border: 2px solid green;
    border-radius: 4px;
    color:green;
    font-size: 8px;
    height: 16px;
    padding: 2px;
}
